doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/semantic/semantic.css')
		script(src='/javascripts/jquery-3.1.1.js')
		script(src='/semantic/semantic.js')
		script(src='/javascripts/main.js')
		link(href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css' rel='stylesheet' type='text/css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js')

	body
		block content
